body {
    height: 100%;
    background: linear-gradient(180deg, #FFA235 0%, rgba(255, 181, 94, 0.982486) 31.84%, rgba(255, 181, 94, 0.939762) 43.76%, rgba(255, 181, 94, 0.716509) 72.41%, rgba(255, 181, 94, 0.235352) 97.51%, rgba(255, 181, 94, 0) 100%);
    background-size: cover;
    background-repeat:no-repeat;
}

html {
    height: 100%;
}

.navbar {
    background-color: white;
    color: #FFB55E;
    justify-content: center;
    font-size: 500px;
}
#loginHeader {
    top: 8vh;
    text-align: center;
}

#loginHeader a {
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 10vw;
    line-height: 180px;
}

#mainPage #loginButtonContainer{
    text-align: center;
    margin-top: 65vh;
}

#loginButton {
    width: 75%;
    height: 10vw;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
}
#homepage{
    color: #FFB55E;
    font-size: 5%;
    margin-left: 40%;
    margin-right: 40%;
}

.page-container {
    margin-top: 75px;
}

.homeButtons {
    background-color: white;
    width: 200px;
}

#buttonPage {
    align-content: center;
    width: 100%;
}

#mainPage{
    width: 100%;
    max-width: 100% !important;
}
