body {
    height: 100%;
    background: linear-gradient(180deg, #FFA235 0%, rgba(255, 181, 94, 0.982486) 31.84%, rgba(255, 181, 94, 0.939762) 43.76%, rgba(255, 181, 94, 0.716509) 72.41%, rgba(255, 181, 94, 0.235352) 97.51%, rgba(255, 181, 94, 0) 100%);
    background-size: cover;
    background-repeat:no-repeat;
}

html {
    height: 100%;
}

.navbar {
    background-color: white;
    color: #FFB55E;
    justify-content: center;
    font-size: 500px;
}

#loginHeader {
    top: 8vh;
    text-align: center;
}

#loginHeader a {
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 10vw;
    line-height: 180px;
}

#loginPage #loginButtonContainer{
    text-align: center;
    margin-top: 65vh;
}

#loginButton {
    width: 75%;
    height: 10vw;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
}


#homePageLink {
    color: #FFB55E;
    font-size: 30px;
}

.homeButtons {
    background-color: white;
    margin-top: 20px;
    width: 65vw;
    height: 15vh;
    font-family: Raleway; 
    font-weight: 700;
    font-size: 2.9vh;
}

#buttonPage {
    width: 100%;
}

.bmd-layout-drawer>header {
    background-color: #FFB55E;
    color: white;
}

.list-group-item :first-child {
    margin-right: 0.75rem;
}

.bmd-layout-content {
    height: 100vh;
}

.list-group-item {
    cursor: pointer;
}

#homePage, #accountPage, #chatPage, #forumPage, #findBuddyPage, #findRoutePage {
    margin-top: 15vh;
}

#drawerToggleButton {
    background-color: #FFB55E; 
    color: white;
}

/* Set the size of the div element that contains the map */
#map {
    
    height: 70%;
    /* The height is 400 pixels */
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 100px;
    /* The width is the width of the web page */
  }
  
  #accountPage, #accountPage * {
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    font-family: 'Raleway', sans-serif;
  }

  #accountPage .card-img-top, .card{
    max-width: 400px;
  }

  #editAccountButton {
      font-size: 2.9vh;
      color: black;
      background-color: white;
      margin-top: .5em;
  }